{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 firefox versions",
          "last 2 chrome versions",
          "last 2 and_ff versions",
          "last 2 and_chr versions",

          // Very little movement in these browsers since wasm support landed
          "edge >= 16",
          "safari >= 11",
          "ios_saf >= 11"
        ]
      },
      "modules": false, // as in, "don't transform module syntax" - so webpack can tree-shake
      "useBuiltIns": "usage"
    }],
    "preact"
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    "transform-class-properties"
  ]
}
