{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 firefox versions",
          "last 2 chrome versions",
          "last 2 and_ff versions",
          "last 2 and_chr versions",

          // Very little movement in these browsers since wasm support landed
          "edge >= 16",
          "safari >= 11",
          "ios_saf >= 11"
        ]
      }
    }],
    "preact"
  ]
}
